<div class="row py-4 d-flex align-items-center">
    <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1665686377065-08ba896d16fd?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded" alt="Responsive image">
    </div>
    <div class="col-md-6">
        <h1 class="fs-1">Your network, at your fingertips.</h1>
        <h3 class="fw-light fst-italic">Your contacts, your way.</h3>
        <p>Discover a smarter way to keep your contacts organized and accessible anytime, anywhere. Organize, update, and reach out to your network like never before.</p>
    </div>
</div>