<div class="py-4">
    <h1>Your network, at your fingertips.</h1>
    <h3 class="fw-light fst-italic">Your contacts, your way.</h3>
    <p>Discover a smarter way to keep your contacts organized and accessible anytime, anywhere. <br> Organize, update, and reach out to your network like never before.</p>
</div>